<p>Level: <%= @creature.level %></p>
<p>XP: <%= @creature.xp %></p>
<p>Items: <%= @creature.items %></p>

<p>
  Actions:<br/>
  <%= form_tag use_skill_creature_path(@creature) do %>
    <%= hidden_field_tag value: 'gathering' %>
    <%= submit_tag 'gather food' %>
  <%- end -%>
</p>
