<p>Level: <%= @creature.level %></p>
<p>XP: <%= @creature.xp %></p>
<p>Items: <%= @creature.items %></p>

<p>
  Actions:<br/>

  <%= render 'skill_use', creature: @creature, description: 'gather food', skill: :gathering %>
  <%= render 'skill_use', creature: @creature, description: 'gather wood', skill: :woodcutting %>
</p>
